<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= @list.bookmarks.size %> movies</p>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
</div>

<div class="container mt-5">
<div class="row">
  <% @list.movies.each do |movie| %>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="movie-card" data-controller="aos" data-action="scroll->aos#observeScroll" data-aos="flip-left" data-aos-duration="2000">
        <%= image_tag movie.backdrop_url, alt: "Le Wagon", width: 200 %>
        <div class="movie-card-content">
          <div class="movie-card-title">
            <h3><%= movie.title %></h3>
            <h4><%= movie.rating %> <i class="fa-solid fa-star" style="color: #ffb80e;"></i></h4>
          </div>
          <p><%= movie.overview %></p>
        </div>
        <div class="movie-card-footer">
          <div class="comment">
            <i class="fa-sharp fa-solid fa-quote-left"></i> <%= movie.bookmarks.first.comment %>
          </div>
          <div class="delete">
            <%= link_to "Delete", bookmark_path(movie.bookmarks.first), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>

<div class="container mt-5 border-top pt-5">

  <div class="row">

    <div class="col-md-6 mb-4">
      <h5>Reviews</h5>

      <% @reviews.each do |review| %>
      <div class="border-bottom py-2">
        <div class="d-flex">
          <%= ("&#9733;" * review.rating.to_i).html_safe %>
            <div class="text-secondary mx-2">
            <small><%= review.created_at %></small>
            </div>
        </div>
          <%= review.comment %>

      </div>
      <% end %>

    </div>

    <div class="col-md-6 mb-4 review-card p-4">
      <h5>Add your review about this list</h5>
      <%= simple_form_for([@list, @review]) do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}}%>
      <%= f.submit "Create Review", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>

  </div>

</div>
